<?xml version="1.0"?>
<config>
    <global>
        <blocks>
            <evozon_modul>
                <class>Evozon_Modul_Block</class>
            </evozon_modul>
        </blocks>
    </global>
    <modules>
        <evozon_modul>
            <version>1.0.0</version>
        </evozon_modul>
    </modules>
    <frontend>
        <routers>
            <modul>
                <use>standard</use>
                <args>
                    <module>Evozon_Modul</module>
                    <frontName>modul</frontName>
                </args>
            </modul>
        </routers>
        <layout>
            <updates>
                <evozon_modul>
                    <file>theme/evozon_modul.xml</file>
                </evozon_modul>
            </updates>
        </layout>
    </frontend>
</config>
